<p>add-invitation works!</p>
<div class="container">
  <div>
    <h2>Ajouter une invitations :</h2>
  </div>

  <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label >ID Invitation</label>
      <input type="text" [(ngModel)]="newInvitation.invitationId" name="invitationId" class="form-control">
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4" >
      <label >Date </label>
      <input type="date"[(ngModel)]= "newInvitation.date" name="date" class="form-control">
    </div>



    <div class="col-sm-2 col-md-2 col-lg-2">
      <label >employ</label>
      <input type="text" [(ngModel)]= "newInvitation.employe" name="employe" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label >Metier employe</label>
      <input type="text" [(ngModel)]= "newInvitation.metier_employe" name="metier_employe" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label >recepteur</label>
      <input type="text" [(ngModel)]= "newInvitation.recepteur" name="destination" class="form-control">
    </div>

    <div class="mt-2">
      <button type="submit" (click)="addInvitation()" class="btn btn-success">Ajouter</button>
      <div>
<h3>{{ message }}</h3>
      </div>

    </div>
  </form>
</div>
